:root {
  --page-margin-y: 64px;
  --page-margin-x: 48px; }

.app {
  padding: 0 48px;
  display: flex;
  justify-content: center; }
  .app .header-and-main {
    display: flex;
    justify-content: space-between;
    max-width: 1184px; }

header {
  flex: 1 1 200px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 182px);
  padding: var(--page-margin-y) var(--page-margin-x) 0 var(--page-margin-x); }

section .section-header {
  position: sticky;
  background-color: #0f172abf;
  top: 0;
  backdrop-filter: blur(8px);
  padding: 20px var(--page-margin-x);
  font-size: 14px;
  font-weight: 500;
  color: #dce4ef;
  letter-spacing: 0.1em; }

section#about p.passage {
  color: #94a3b8;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.017em;
  line-height: 26px; }

section#experience ol li.experience {
  list-style-type: none;
  margin-bottom: 48px; }

section#experience .grid {
  display: grid;
  grid-template-columns: repeat(8, minmax(40px, 1fr));
  gap: 16px; }
  section#experience .grid .dates {
    grid-column: 1 / 3; }
  section#experience .grid .dates {
    font-size: 12px;
    margin: 4px 0 8px 0; }
  section#experience .grid .description {
    grid-column: 3 / 9; }
  section#experience .grid p.passage {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    margin: 8px 0 0 0; }
  section#experience .grid h3 {
    line-height: 22px;
    font-size: 16px;
    font-weight: 300; }
  section#experience .grid h3.current-position {
    color: #e2e8f0; }
  section#experience .grid h3.previous-position {
    color: #64748b; }

@media screen and (max-width: 767px) {
  body {
    --page-margin-y: 48px;
    --page-margin-x: 24px; } }

@media only screen and (min-width: 1024px) {
  section .section-header {
    display: none; } }
